<section class='header'>
  <div class='header__city'>{{name}}, {{country}}</div>
  <div class='header__wrap'>
    <p class='header__date'>{{localtime}}</p>
    <p class='header__timezone'>Часовой пояс: {{tz_id}}</p>
  </div>
</section>